<!-- src/main/resources/templates/fragments/footer.html -->
<footer th:fragment="footer" >
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Links Úteis</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Página Inicial</a></li>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Redes Sociais</h3>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contato</h3>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> Endereço: Rua Exemplo, 123 - Cidade, Estado</li>
                    <li><i class="fas fa-phone-alt"></i> Telefone: (00) 1234-5678</li>
                    <li><i class="far fa-envelope"></i> Email: exemplo@email.com</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <p>&copy; 2024 Seu Nome. Todos os direitos reservados.</p>
    </div>
</footer>
