<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colégio Progresso Futuro</title>
    <div th:include="~{fragmentos/head}"><!-- Menu estilizacao --></div>
    <link rel="stylesheet" th:href="@{css/style-login.css}">
</head>
<body>
    <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>   

    <a href="/filtro-alunos"><button class="padrao">Alunos da Turma</button></a>
        
      

</body>
</html>