<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Professores</title>
    <link rel="stylesheet" th:href="@{css/style.css}">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div th:insert="~{fragmentos/header :: header}"></div>
    <div class="container mt-5">
        <h1>Lista de Professores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>cpf</th>
                    <th>nome</th>
                    <th>materia</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="professor : ${Professores}">

                    <td th:text="${professor.cpf}"></td>
                    <td th:text="${professor.nome}"></td>
                    <td th:text="${professor.disciplina}"></td>
                    
                  
                
                </tr>
            </tbody>
        </table>
    </div>
    
</body>

</html>