header {
    background-color: #78e4ff;
    color: #0b0199;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 1px 5px 0px rgba(0, 47, 255, 0.651);
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}


nav a {
    color: #0b0199;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


nav a:hover {
    background-color: #0095da;
}

nav .acesso {
    display: flex;
    justify-content: center;
}